/* Landing Page Styles - Import all landing styles here */
@import './landing/navbar.css';
/* Add more landing component styles here as you create them */
/* @import './landing/hero.css'; */
/* @import './landing/footer.css'; */

 .pin-style {
    max-width: 48px;
    width: auto !important;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 0.25rem #0d6efd40;
    }
  }