@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "tailwindcss";

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  text-align: center;

  box-sizing: border-box;
  padding: 0;
  margin: 0;

  background-color: brown;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

/* stylelint-disable-next-line */
@theme {
  --breakpoint-3xl: 120rem;

  --color-brand-white: #ffffff;
  --color-brand-black: #020008;
  --color-brand-purple: #602fcc;
  --color-brand-purple-light: #9668ff;
  --color-brand-orange: #f1582e;
  --color-brand-yellow: #eaa942;
}

/* Button sizes styling */
.btn-lg {
  width: auto;
  height: 45px;
}
.btn-md {
  width: auto;
  height: 40px;
}
.btn-sm {
  width: auto;
  height: 36px;
}
.btn-xs {
  width: auto;
  height: 28px;
  font-size: 12px;
  padding: 0px 5px;
}

/* Button sizes styling */
.btn-lg {
  width: auto;
  height: 45px;
}
.btn-md {
  width: auto;
  height: 40px;
}
.btn-sm {
  width: auto;
  height: 36px;
}
.btn-xs {
  width: auto;
  height: 28px;
  font-size: 12px;
  padding: 0px 5px;
}

/* Primary button */
.primary-btn {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border-radius: 12px;
  border: 1px solid var(--color-brand-purple);
}
.primary-btn:hover {
  background: var(--color-brand-purple-light);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple-light);
}
.primary-btn:focus {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple);
}

/* /* Primary button */
.primary-btn {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border-radius: 12px;
  border: 1px solid var(--color-brand-purple);
}
.primary-btn:hover {
  background: var(--color-brand-purple-light);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple-light);
}
.primary-btn:focus {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
