
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  text-align: center;
  
  --font-montserrat: Montserrat, sans-serif;
  --font-inter: Inter, system-ui;


  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

.bg-aboutus {
  background-image: url('/images/landing/AboutUs/gradient_background.png');
  background-size: cover;
  background-position: center;
}
.bg-contactus {
  background-image: url('/images/landing/ContactUs/purplegradientbg.png');
  background-size: cover;
  background-position: center;
}
.my-custom-class {
  border-top-left-radius: 80%;    
  border-bottom-left-radius: 5px; 
}
.bg-blog{
   background-image: url('/images/landing/Blogbg.png');
  background-size: cover;
  background-position: center;
}



/* stylelint-disable-next-line */
@theme {
  --breakpoint-3xl: 120rem;
  
  --color-brand-white: #ffffff;
  --color-brand-black: #020008;
  --color-brand-purple: #602fcc;
  --color-brand-purple-light: #9668ff;
  --color-brand-orange: #f1582e;
  --color-brand-yellow: #eaa942;
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Button sizes styling */
.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  padding: 0 15px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 0;
}

.btn:focus,
.btn:active {
  outline: none;
  transform: none;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  animation: ripple-animation 0.6s ease-out;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-lg {
  width: auto;
  height: 45px;
}
.btn-md {
  width: auto;
  height: 40px;
}
.btn-sm {
  width: auto;
  height: 35px;
}
.btn-xs {
  width: auto;
  height: 28px;
  font-size: 12px;
  padding: 0px 5px;
}


/* Primary button */
.primary-btn {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border-radius: 22px;
  border: 1px solid var(--color-brand-purple);
}
.primary-btn:hover {
  background: var(--color-brand-purple-light);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple-light);
}
.primary-btn:focus {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple);
}

/* Secondary button */
.secondary-btn {
  background: var(--color-brand-purple-light);
  color: var(--color-brand-white);
  border-radius: 22px;
  border: 1px solid var(--color-brand-purple);
}
.secondary-btn:hover {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple);
}
.secondary-btn:focus {
  background: var(--color-brand-purple-light);
  color: var(--color-brand-purple);
  border: 1px solid var(--color-brand-purple);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
