@import "tailwindcss";
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;

  --color-white: #FFFFFF;
  --color-brand-black: #020008;
  --color-brand-purple: #602FCC;
  --color-brand-purple-light: #9668FF;
  --color-brand-orange: #F1582E;
  --color-brand-yellow: #EAA942;



}




/* Button sizes styling */
.btn-lg {
  width: auto;
  height: 45px;
}
.btn-md {
  width: auto;
  height: 40px;
}
.btn-sm {
  width: auto;
  height: 36px;
}
.btn-xs {
  width: auto;
  height: 28px;
  font-size: 12px;
  padding: 0px 5px;
}

/* Primary button */
.primary-btn {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border-radius: 12px;
  border: 1px solid var(--color-brand-purple);
}
.primary-btn:hover {
  background: var(--color-brand-purple-light);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple-light);
}
.primary-btn:focus {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple);
}


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #612FCC;
  }
}
 