
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@plugin 'tailwindcss-animate';
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}


:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  --font-montserrat: Montserrat, sans-serif;
  --font-inter: Inter, system-ui;

  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

.bg-aboutus {
  background-image: url('/images/landing/AboutUs/gradient_background.png');
  background-size: cover;
  background-position: center;
}
.bg-contactus {
  background-image: url('/images/landing/ContactUs/purplegradientbg.png');
  background-size: cover;
  background-position: center;
}
.my-custom-class {
  border-top-left-radius: 80%;    
  border-bottom-left-radius: 5px; 
}
.bg-blog{
   background-image: url('/images/landing/BlogMain/Blogbg.png');
  background-size: cover;
  background-position: center;
}

/* stylelint-disable-next-line */
@theme {
  --breakpoint-3xl: 120rem;

  --color-brand-white: #ffffff;
  --color-brand-black: #020008;
  --color-brand-purple: #602fcc;
  --color-brand-purple-light: #9668ff;
  --color-brand-orange: #f1582e;
  --color-brand-yellow: #eaa942;
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Button sizes styling */
.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  padding: 0 15px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 0;
}

.btn:focus,
.btn:active {
  outline: none;
  transform: none;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  animation: ripple-animation 0.6s ease-out;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-lg {
  width: auto;
  height: 45px;
}
.btn-md {
  width: auto;
  height: 40px;
}
.btn-sm {
  width: auto;
  height: 35px;
}
.btn-xs {
  width: auto;
  height: 28px;
  font-size: 12px;
  padding: 0px 5px;
}

/* Primary button */
.primary-btn {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border-radius: 22px;
  border: 1px solid var(--color-brand-purple);
}
.primary-btn:hover {
  background: var(--color-brand-purple-light);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple-light);
}
.primary-btn:focus {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple);
}

/* Secondary button */
.secondary-btn {
  background: var(--color-brand-purple-light);
  color: var(--color-brand-white);
  border-radius: 22px;
  border: 1px solid var(--color-brand-purple);
}
.secondary-btn:hover {
  background: var(--color-brand-purple);
  color: var(--color-white);
  border: 1px solid var(--color-brand-purple);
}
.secondary-btn:focus {
  background: var(--color-brand-purple-light);
  color: var(--color-brand-purple);
  border: 1px solid var(--color-brand-purple);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

/* h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
h2 {
  font-size: 1.875rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
} */
/* 
 .pin-style {
    max-width: 48px;
    width: auto !important;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 0.25rem #0d6efd40;
    }
  } */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
